In [2]:
# Import Dependencies
import pandas as pd

In [3]:
csv_path = "weather.csv"
weather_df = pd.read_csv(csv_path)
weather_df.head()

,City,Hemisphere,Latitude,Longitude,Temperature(F),Humidity(%),Cloudiness(%),Wind Speed(mph)
0,Talnakh,northern,69.4865,88.3972,-11.09,88,100,2.53
1,Tuktoyaktuk,northern,69.4541,-133.0374,-38.20,67,20,9.22
2,Albany,northern,42.6001,-73.9662,26.38,87,100,3.06
3,Tateyama,northern,34.9833,139.8667,37.00,40,50,3.00
4,Nouadhibou,northern,20.9310,-17.0347,66.20,77,0,17.27

In [4]:
weather_df.to_html("weather.html")